.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cards-section {
  margin-bottom: 2rem;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 12rem;
}

.card-info {
  padding: 1rem;
}

.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  z-index: 1 !important; /* Đảm bảo bản đồ không bị che */
}